article, aside{
    margin-top: 40px;
    margin-bottom: 40px;
}

.sticky {
	display: block;
}
.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-footer{
    margin:0 15px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-title a{
    color:$color__schwulissimo_red;
    font-size: 28px;
    font-weight: 600;
}
.entry-meta{
   
a.social-share{
    background-size: contain;
    background-position: center;
    width: 30px;
    height:20px;
    text-indent: -9999px;
    display: inline-block;
    border: 1px solid $color__schwulissimo_red;
    margin-left:5px;
    margin-right:0;
}
    
a[href^="https://www.facebook"]{
    background: url('img/facebook.svg') top left no-repeat;
    background-size: 15px;
    background-position: center;
}
a[href^="https://www.twitter"]{
    background: url('img/twitter.svg') top left no-repeat;
    background-size: 15px;
    background-position: center;
}
a[href*="whatsapp"]{
    background: url('img/whatsapp.svg') top left no-repeat;
    background-size: 15px;
    background-position: center;
}
a[href*="plus.google"]{
    background: url('img/g+.svg') top left no-repeat;
    background-size: 15px;
    background-position: center;
}
a[href*="mailto:"]{
    background: url('img/e-mail.svg') top left no-repeat;
    background-size: 15px;
    background-position: center;
}
}

h3{
.grey-spacer{
    display: inline-block;
    margin-right: 15px;
}
.grey-bottom-line{
    
    background-image: url('img/spacer-grey.png');
    background-position-y: 50%;
    background-position-x: 20px;
    background-repeat: repeat-x;
}
}
.post-preview{
    padding-bottom: 20px;
    img{
        padding: 0 15px 15px 0;
    }
    .content-short{
        font-size: 0.8rem;
    }
    .h5 a{
        color: $color__schwulissimo_red;
        font-size: 1.2rem;
    }
    .term{
        margin-bottom:10px;
        
        a{
            color:black;
            &:hover, &:visited, &:active{
                color:black;
            }
            
        }
        
    }
}
.author-meta-box-compact{
    
    p{
    margin: 0 15px;
    font-size: 0.75rem; 
    padding: 0;
    }
    
}
.entry-headline{
    position: relative;
    
    @media screen and (max-width: 767px){
    padding:0;
    }
}
@media screen and (min-width: 769px){
    .entry-header{
        position: relative;
    }
    .entry-title-holder{
        position: absolute;
        left:25%;
        bottom: 0;
        h2{
            margin-bottom: 0;
        }
    }
    
}