h1, h2, h3, h4, h5, h6 {
	clear: both;
        font-family: $font__main;
        text-transform: uppercase;
}
h1.entry-title{
    line-height: 1.2;
    margin-top: 0;
}
h3.entry-sutitle{
    font-size: 1.1rem;
}
