.grey-spacer{
    background-color: #eee;
    width: 65px;
    height: 15px;
    margin-top: 3px;
}
.more-link{
    color:$color__schwulissimo_red !important;
    text-transform: lowercase !important;
}