.veranst-slider-date-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 80px;
    background: $color__schwulissimo_red;
    color: white;
    text-align: bottom;
    padding: 50px 0 0 0;
    text-align: center;
    z-index: 900;
}
.veranst-slider-title-box{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 0 0 0 65px;
    background: #373737;
    width: 100%;
    color: white;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 800;
    a{
        color:white;
    }
}
.veranst-slider-meta-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    color: white;
    background: #373737;
    padding: 15px;
    z-index: 900;
    .veranst-title{
        width:50%;
        a{
        color:$color__schwulissimo_red;
    }
    }
}
.veranst-archive-headline-date{
    
    background-color: $color__schwulissimo_red;
    width: 50px;
    height: 80px;
    margin-bottom: -100px;
    color: white;
    text-align: center;
    padding-top: 50px;
    
    
}
.veranst-archive-headline-title{
    position:absolute;
    background: #373737; 
    width: 100%;
    padding-left: 65px;
    color: white;
    a{
        color:white;
    }
}
.veranst-archive-infobox{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    a{
        color:white;
    }
    .glyphicon{
        color: $color__schwulissimo_red;
        margin-right: 15px;
    }
}