.post-type-archive-post_partypics{
    .partypics-searchbar{
        background: #373737;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        label{
            color:$color__schwulissimo_red;
        }
        input, .form-group{
            width: 100%;
        }
        .btn{
            color: white;
            background: #E73C39;
            margin-top: 25px;
            border: none;
        }
    }
}