.post-type-archive-post_partypics{
    
    .eagle-gallery{
        
        .category-slider-meta-box{
            position: absolute;
            bottom: 20%;
            left: 0;
            width: 60%;
            background-color: #373737;
            opacity: .8;
            padding: 20px;
            border-bottom: 3px solid $color__schwulissimo_red;
            z-index: 8888;
            
            
            a{
                opacity: 1;
                color:white;
            }
        }
        
    }
    
    
    
}
