input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select
{
	color: $color__text-input;
	border: 1px solid $color__border-input;
	padding: 3px;
        min-width:100%;
        width:100%;
        &:focus {
		color: $color__text-input-focus;
	}
}


select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
.wpcf7-form label{
    width: 100%;
}
input[type="submit"], nput[type="submit"]:hover, nput[type="submit"]:active{
    border-radius: 0;
    border:none;
    background: black;
    color: white;
    box-shadow: none !important;
    font-size: 14px;
    padding: 10px;
}