#administration-page{
    .navbar{
        margin-bottom: 0;
    }
    .col-xs-12{
        padding-left: 0;
    }
    .navbar-brand{
        img{
            max-height: 15px;
            width: auto;
        }
    }
}

